:root {
  /* CSS HEX */
  --rich-black: #001524ff;
  --caribbean-current: #15616dff;
  --papaya-whip: #ffecd1ff;
  --orange-wheel: #ff7d00ff;
  --sienna: #78290fff;

  /* CSS HEX */
  --dark-slate-gray: #335c67ff;
  --vanilla: #fff3b0ff;
  --hunyadi-yellow: #e09f3eff;
  --auburn: #9e2a2bff;
  --chocolate-cosmos: #540b0eff;
}

/*Base*/
main {
  max-width: 800px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(
    circle at center,

    var(--papaya-whip) 0%,

    var(--caribbean-current) 50%,

    var(--rich-black) 100%
  );

  min-height: 100vh;
  text-align: center;
}

/*Typography*/

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--auburn);
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  text-align: center;
  padding: 25px;
  margin: 0;
}

/*Nav*/

nav {
  margin: 0 auto;
  padding: 15px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: whitesmoke;
  display: inline-block;
}
.logo {
  font-size: 18px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
}

.menu-bar {
  margin-left: auto;
}

/*LAYOUT*/

/*Heading*/

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--sienna);
}

/*Caption*/

.caption {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/*Items*/

.item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.02);
}

/*Icons*/

.icon {
  width: 32px;
  margin: 4px;
}

.chatbox-bg {
  background-color: var(--orange-wheel);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;
  display: flex;
  position: fixed;
  bottom: 6px;
  right: 6px;
}

.chatbox-img {
  width: 70%;
  margin: auto;
}

/*Images*/

.item img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

/*Banners*/

.item {
  position: relative;
}

.img-banner {
  background-color: var(--sienna);
  color: whitesmoke;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

/*Buttons*/

button {
  border: none;
  background-color: var(--sienna);
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: var(--hunyadi-yellow);
  color: var(--chocolate-cosmos);
}
