:root {
  /* CSS HEX */
  --rich-black: #001524ff;
  --caribbean-current: #15616dff;
  --papaya-whip: #ffecd1ff;
  --orange-wheel: #ff7d00ff;
  --sienna: #78290fff;
}

/*Base*/

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(
    circle at center,

    var(--papaya-whip) 0%,

    var(--caribbean-current) 50%,

    var(--rich-black) 100%
  );

  min-height: 100vh;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/*Typography*/

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--papaya-whip);
  text-align: center;
  padding: 15px;
  margin: 0;
}

/*Nav*/

nav {
  margin: 0 auto;
  padding: 15px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: whitesmoke;
  display: inline-block;
}
.logo {
  font-size: 18px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
}

/*Heading*/

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--sienna);
}

/*Links*/

/*Icons*/

.icon {
  width: 32px;
  margin: 4px;
}

/*Images*/

img {
  width: 600px;
  border-radius: 6px;
  margin: 20px;
}
