:root {
  /* CSS HEX */
  --rich-black: #001524ff;
  --caribbean-current: #15616dff;
  --papaya-whip: #ffecd1ff;
  --orange-wheel: #ff7d00ff;
  --sienna: #78290fff;
}

/*Base*/

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*Typography*/

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

/*Nav*/

nav {
  background-color: var(--sienna);
  height: 80px;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav a {
  color: whitesmoke;
  display: inline-block;
  margin-top: 20px;
}
.logo {
  font-size: 18px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
}

/*Links*/

/*Icons*/

.icon {
  width: 32px;
  margin: 4px;
}
